/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
	@apply text-step-0 leading-standard font-base text-dark bg-light;
}

[aria-current="page"] {
	@apply font-medium;
}

:focus {
	@apply outline-none;
}

:focus-visible {
	outline: 2px solid var(--focus-color, currentColor);
	outline-offset: var(--focus-offset, 0.2lh);
}
@media (prefers-reduced-motion: no-preference) {
    @view-transition {
      navigation: auto;
    }
    
    html {
      interpolate-size: allow-keywords;
      &:focus-within {
        scroll-behavior: smooth;
      }
    }
  }